{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    <h1>Bienvenue sur la page</h1>
        <p class="lead">Vous serez bientôt en mesure de vous connecter, mais en attendant, vous pouvez déjà ajouter des contacts !</p>
</div>

{% endblock %}
